@model IEnumerable<MVCClient.Model.Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "_MyLayout";
}

<h2>Employee List</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table width="50%" class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name) </th>
            <th>@Html.DisplayNameFor(model => model.Age) </th>
            <th>@Html.DisplayNameFor(model => model.Salary) </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => employee.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => employee.Salary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.EmployeeID">Update</a> 
                    <a asp-action="Details" asp-route-id="@employee.EmployeeID">Details</a> 
                    <a asp-action="Delete" asp-route-id="@employee.EmployeeID">Delete</a>
                </td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>